extends ../layout

block content
  h1 ユーザー登録
  form(method="post" action="/users")
    p
      span ユーザー名:
      input(type="text" name="username" value=user.username)
      if errors && errors.has('username')
        span(style="color:red") #{errors.get('username')}
    p
      span パスワード:
      input(type="password" name="password" value=user.password)
      if errors && errors.has('password')
        span(style="color:red") #{errors.get('password')}
    p
      span メールアドレス:
      input(type="text" name="email" value=user.email)
      if errors && errors.has('email')
        span(style="color:red") #{errors.get('email')}

    button(type="submit") 登録する

